CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_NFS_FS=y
CONFIG_NFS_V3=y
# CONFIG_NFS_V4 is not set
# CONFIG_NFS_V3_ACL is not set
# CONFIG_NFSD is not set
# CONFIG_ROOT_NFS is not set
CONFIG_CIFS=y
CONFIG_CIFS_SMB2=y
# CONFIG_CIFS_DFS_UPCALL is not set
CONFIG_NLS_UTF8=y
CONFIG_LOCALVERSION="-nas1"
# CONFIG_LOCALVERSION_AUTO is not set
